:root {
  --base00: #282828;
  --base01: #3c3836;
  --base02: #504945;
  --base03: #665c54;
  --base04: #bdae93;
  --base05: #d5c4a1;
  --base06: #ebdbb2;
  --base07: #fbf1c7;
  --base08: #fb4934;
  --base09: #fe8019;
  --base0A: #fabd2f;
  --base0B: #b8bb26;
  --base0C: #8ec07c;
  --base0D: #83a598;
  --base0E: #d3869b;
  --base0F: #d65d0e;
}

html,
body {
  background-color: var(--base00);
  color: var(--base06);
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  gap: 1rem;
  padding: 0 1rem;
}

footer {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--base05);
}

h1 {
  color: var(--base0A);
}

a {
  color: var(--base0D);
}

hr {
  border: 1px solid var(--base06);
}

#config {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 1rem;

  label {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
}

#form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 5rem;
  box-sizing: border-box;

  > label {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.2rem;
  }
}

.live-stats {
  display: flex;
  width: 30%;
  justify-content: center;
  font-family: "JetBrains Mono", monospace;
  color: var(--base04);
  font-size: 1.2rem;
}

.text-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  gap: 0.5rem;
  margin: 2rem 0;
  max-height: 7.5rem;
  overflow: hidden;
}

.word {
  font-family: "JetBrains Mono", monospace;
  font-size: 1.5rem;

  color: var(--base05);
  padding: 0 0.2rem;
  border-radius: 4px;
  border: 1px solid transparent;

  &#next {
    border: 1px solid var(--base03);
  }

  &.passed {
    color: var(--base0A);
  }

  &.incorrect {
    color: var(--base08);
  }
}

input {
  background-color: var(--base01);
  border-radius: 0;
  border: 1px solid var(--base02);
  padding: 0.5rem;
  font-family: "JetBrains Mono", monospace;
  color: var(--base06);
}

button {
  background-color: var(--base0D);
  border-radius: 0;
  padding: 0.5rem;
  border: 1px solid var(--base02);
  color: var(--base00);
  transition: transform 200ms ease;

  &[type="submit"] {
    background-color: var(--base0B);
    width: 50%;
  }

  &[disabled] {
    opacity: 0.4;
  }

  &:hover:not([disabled]) {
    transform: scale(1.1);
  }

  &:active:not([disabled]) {
    transform: scale(1.05);
  }
}

.test {
  width: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;

  .test-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
  }

  &.completed .test-content {
    opacity: 0.5;
    filter: blur(1px);
  }
}

#main {
  &:not(.submitted) {
    #form-submitted {
      display: none;
    }
  }

  &.submitted {
    #form {
      display: none;
    }
  }
}

#form-submitted {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
